.map-card {
    width: 150px;
    height: 250px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.map-card .map-name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2; /* Asegúrate de que esté por encima de la imagen del mapa */
    text-align: center;
    width: 90%;
}

.map-card .info {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1); 
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 90%;
    z-index: 2;
}

.map-card.ban .info {
    background-color: #ff6347;
}
.map-card.pick .info {
    background-color: #1e90ff; 
}
.map-card.decider .info {
    background-color: rgb(220, 187, 31);
}
.undo-button, .set-teams-button, .roulette-button { 
    margin: 5px; 
    padding: 10px 20px; 
    background-color: #f44336; 
    color: white; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}
.roulette-button:hover{ 
    background-color: #da190b; 
    
}
.team-inputs label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
/*****************************************************************************************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************************************************************************************/
body { 
    font-family: Arial, sans-serif; 
    background-color: #121212; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 100px;
}

.header img.left {
    height: 100px;
    margin-right: 10px;
}

.header img.right {
    height: 100px; 
    margin-left: 10px;
}

.title {
    display: flex;
    align-items: center;
    margin: 0;
}
.team-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px; /* Increase space between the input groups */
}

.input-group {
    display: flex;
    flex-direction: column; /* Align label and input vertically */
    align-items: flex-start;
    gap: 5px;
}



.input-group label {
    font-size: 16px;
    font-weight: bold;
}

input { 
    margin: 5px; 
    padding: 10px; 
    background-color: #424242; 
    border: none; 
    color: white;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
}

.map-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    min-height: 100px;
}


.map-button {
    margin: 5px;
    padding: 20px;
    background: linear-gradient(145deg, #4CAF50, #2E7D32);
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 200px; 
    height: 100px; 
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 7px;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.map-button:hover {
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.35), 0 0 10px rgba(255, 255, 255, 0.35);
}
.map-button span {
    position: relative;
    z-index: 2;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.map-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); 
    transition: background 0.3s ease;
    z-index: 1;
}

.map-button:hover::before {
    background: rgba(0, 0, 0, 0); 
}

.selected-maps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.turn-indicator {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.selected-maps { 
    margin-top: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.map-card-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 175px; /* Set fixed width */
    align-items: center; /* Center the cards */
}

.map-card, .side-card {
    width: 90%; /* Make width 100% of the container */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.map-card {
    height: 250px;
    margin-bottom: 5px; /* Ensure there is space between the map card and side card */
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
}

.side-card {
    background-color: #333; /* Dark background for side card */
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.map-card.ban::after {
    content: 'X';
    color: #ff0000;
    font-size: 128px; /* Incrementa el tamaño de la X */
    font-weight: bold;
    position: absolute;
    top: 50%; /* Ajusta la posición hacia arriba */
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure it doesn't interfere with any click events */
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8); /* Optional: add some shadow for better visibility */
    
}

.map-card.ban::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Capa negra transparente */
    z-index: 1; /* Asegúrate de que esté por encima de la imagen del mapa */
    pointer-events: none; /* Ensure it doesn't interfere with any click events */
    
}

.map-card.ban {
    position: relative;
}

.map-card.ban .info {
    position: relative;
    z-index: 2; /* Asegúrate de que el texto esté por encima de la capa negra */
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}



.map-card.pick .info {
    background-color: #1e90ff; 
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.map-card.decider .info {
    background-color: #dcbb1f;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.side-pick-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Make width 100% of the container */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.side-pick-button {
    margin: 5px; 
    padding: 5px 10px; 
    background-color: #f44336; 
    color: white; 
    border: none; 
    cursor: pointer; 
    font-size: 14px; 
    font-weight: bold; 
    text-transform: uppercase;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    width: calc(100% - 20px); /* Adjust width to fit inside the container */
}

.undo-button, .set-teams-button { 
    margin: 5px; 
    padding: 10px 20px; 
    background-color: #f44336; 
    color: white; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.undo-button:hover, .set-teams-button:hover, .side-pick-button:hover { 
    background-color: #da190b; 
    box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.65), inset 0 0 7px rgba(255, 255, 255, 0.25);
}
.settings-icon {
    width: 50px; /* Adjust the width to your desired size */
    height: 50px; /* Adjust the height to your desired size */
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
    backdrop-filter: blur(0px);
    opacity: 0;
    transition: opacity 0.35s ease-in-out, backdrop-filter 0.35s ease-in-out;
}

.modal.show-modal {
    display: block; 
    opacity: 1;
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #151515;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #ff0000;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: showModal 0.35s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the contents horizontally */
    justify-content: center; /* Center the contents vertically */
    position: relative; /* Make the position relative for absolute positioning of the close button */
}

.close-button {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}


.team-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure the container takes the full width */
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the items within the input group */
    margin: 10px 0;
    width: 100%; /* Ensure the input group takes the full width */
}

.input-group label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center; /* Center the label text */
}

.input-group input {
    width: 80%; /* Adjust width to ensure it does not take the full width */
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #424242;
    color: white;
    outline: none;
    text-align: center; /* Center the text inside the input */
}

.input-group input::placeholder {
    color: #bbb;
}

@keyframes showModal {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content .input-group {
    margin: 10px 0;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #424242;
    color: white;
    font-size: 16px;
}

.modal-content input:focus {
    border-color: #f44336;
    outline: none;
}

.modal-content .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-content .button-group button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.modal-content .button-group button:hover {
    background-color: #da190b;
    box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.65), inset 0 0 7px rgba(255, 255, 255, 0.25);
}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* ROULETTE */

.spin-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #29c029;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.spin-button:hover {
    background-color: #228B22;
    box-shadow: 0px 0px 20px 0px rgba(0, 255, 0, 0.25), inset 0 0 8px rgba(0, 255, 0, 0.5);
}


#roulette-modal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 60px; /* Adjust to create space for the result text */
}

#roulette-wheel {
    width: 300px;
    height: 300px;
    border: 5px solid #000;
    border-radius: 50%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#roulette-wheel .half {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roulette-wheel .half.red {
    background-color: #f44336;
    left: 0;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

#roulette-wheel .half.blue {
    background-color: #1e90ff;
    right: 0;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

#team-a-name {
    position: absolute;
    transform: rotate(-90deg);
    left: 25%;
}

#team-b-name {
    position: absolute;
    transform: rotate(90deg);
    right: 25%;
}

#arrow {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid white;
    z-index: 10;
}

#result {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    z-index: 10;
    text-align: center;
    width: 80%;
    white-space: nowrap;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(3600deg); }
}

.spin {
    animation: spin 4s ease-out;
}
